In [180]:
# HIDDEN

import matplotlib
matplotlib.use('Agg')
from datascience import *
%matplotlib inline
import matplotlib.pyplot as plots
import numpy as np
import math
import scipy.stats as stats
plots.style.use('fivethirtyeight')

Welcome to L&S88- Health, Human Behavior, and Data!

In this class, we will be practicing how to manipulate data to form quantitative measures from a data set (such as the median) using data from WWII. The data we will be using is in the c11_wwii.csv file, which consists of 83,495 observations of men in the 5% public use sample from the 1980 Census. 
These observations were restricted to men born in the third or fourth quarter of 1924, 1926, and 1928.

The columns of this data set are:
1. "birthyr" (year of birth)
2. "birthqrtr" (quarter of birth)
3. "vetwwii" (an indicator of having served in WWI)
4. "incwage" (wage and salary income)
5. "disabwrk1" (a dichotomous indicator of work-limiting disability)
6. "disabwrk2" (a trichotomous indicator of work-limiting disability)

In [181]:
#load file
men = Table.read_table('c11_wwii.csv')
men

birthyr | birthqtr | vetwwii | incwage | disabwrk1 | disabwrk2
1924    | 4        | 1       | 35005   | 0         | 0
1926    | 3        | 1       | 54005   | 0         | 0
1926    | 4        | 1       | 18005   | 0         | 0
1928    | 4        | 0       | 26005   | 0         | 0
1928    | 4        | 1       | 72005   | 0         | 0
1928    | 4        | 0       | 45005   | 0         | 0
1928    | 4        | 0       | 19005   | 0         | 0
1928    | 3        | 0       | 35005   | 1         | 1
1928    | 3        | 0       | 12005   | 0         | 0
1924    | 3        | 1       | 0       | 1         | 2
... (83485 rows omitted)

<h3><font color = "black">Questions:</h3></font>
<p>

1a. Find the median income across WWII veterans for men born in the third or fourth quarter of 1926.

In [182]:
#Filter table until it contains only veterans born in 1926 Q3 or Q4
vetmen = men.where(men['vetwwii']== 1)
vetmen1926 = vetmen.where(vetmen["birthyr"] == 1926)
vetmen1926Q3Q4 = vetmen1926.where(np.logical_or(vetmen1926["birthqtr"] == 3, vetmen1926['birthqtr'] == 4))

#Sort the table by incwage. Then, to find the median, because there is an odd number of entries and indexing starts at 0, the median will just
#the middle entry of the incwage array. For some reason the array has a mean function but not median. 
x = vetmen1926Q3Q4.sort('incwage', descending = True)
size = x['incwage'].size
median = x['incwage'][size / 2]
median

17175

1b. Find the trimean of the incomes.<p>
Hint: trimean = (median * 2 + 25th percentile + 75th percentile)/4

In [183]:
trimean = (percentile(25, x['incwage']) + percentile(75, x['incwage']) + 2 * median) / 4
trimean

16450.0

2a. Find the median income for all men, WWII veterans and non-veterans, in three groups based on their birth year (one group for 1924, another for 1926, etc.):

In [184]:
# born 1924 Q3 or Q4, born 1926 Q3 or Q4, and born 1928 Q3 or Q4, with income sorted to descending
men1924 = men.where(men['birthyr'] == 1924)
men1926 = men.where(men['birthyr'] == 1926)
men1928 = men.where(men['birthyr'] == 1928)
men1924Q3Q4 = men1924.where(np.logical_or(men1924['birthqtr'] == 3, men1924['birthqtr'] == 4)).sort('incwage', descending = True)
men1926Q3Q4 = men1926.where(np.logical_or(men1926['birthqtr'] == 3, men1926['birthqtr'] == 4)).sort('incwage', descending = True)
men1928Q3Q4 = men1928.where(np.logical_or(men1928['birthqtr'] == 3, men1928['birthqtr'] == 4)).sort('incwage', descending = True)
#men1924Q3Q4['incwage'].size is odd, men1926Q3Q4['incwage'].size is even, men1928Q3Q4['incwage].size is even
median1924Q3Q4 = men1924Q3Q4['incwage'][men1924Q3Q4['incwage'].size / 2]
median1926Q3Q4 = (men1926Q3Q4['incwage'][men1926Q3Q4['incwage'].size / 2 - 1] + men1926Q3Q4['incwage'][men1926Q3Q4['incwage'].size / 2])/2
median1928Q3Q4 = (men1928Q3Q4['incwage'][men1928Q3Q4['incwage'].size / 2 - 1] + men1928Q3Q4['incwage'][men1928Q3Q4['incwage'].size / 2])/2

2b. Find the trimeans for the incomes for each of the three groups above (1924, 1926, 1928).

In [185]:
trimean2 = (percentile(25, men1924Q3Q4['incwage']) + percentile(75, men1924Q3Q4['incwage']) + 2 * median1924Q3Q4) / 4
trimean3 = (percentile(25, men1926Q3Q4['incwage']) + percentile(75, men1926Q3Q4['incwage']) + 2 * median1926Q3Q4) / 4
trimean4 = (percentile(25, men1928Q3Q4['incwage']) + percentile(75, men1928Q3Q4['incwage']) + 2 * median1928Q3Q4) / 4

3a. Now let’s do for the disability question what we did for the incomes.  
Let’s look at the mean disabwrk1 across vetwwii for men born in 1926 Q3 or Q4 (like 1a)

In [186]:
mean1 = vetmen1926Q3Q4['disabwrk1'].mean()
mean1

0.14061917195076465

4. Let’s then look at the mean disabwrk1 for three groups:  born 1924 Q3 or Q4, born 1926 Q3 or Q4, and born 1928 Q3 or Q4 (like 2a)

In [ ]:
mean2 = men1924Q3Q4['disabwrk1'].mean()
mean3 = men1926Q3Q4['disabwrk1'].mean()
mean4 = men1928Q3Q4['disabwrk1'].mean()